h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  color: #0a142f;
  margin: 0;
  line-height: 1em;
}
.bookiong-btn {
  width: 250px;
  height: 40px;
  background: #ffc93e;
  border-radius: 30px;
  font-weight: bolder;
  display: block;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scroll-down {
  transform: rotate(-90deg);
  text-align: right;
}
.first-img {
  background-image: url("../images/Ornament\ 13.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.item2 {
  position: relative;
}
.img3 {
  position: absolute;
  bottom: 120px;
  left: -60px;
}
.parent-div {
  background-image: url("../images//Vector\ 1.svg");
  background-repeat: no-repeat;
  background-position: 190% 40%;
  background-origin: content-box;
  object-fit: fill;
}
.set-bg-color2 {
  width: 412px;
  height: 192px;
  background: #be229c;
  opacity: 0.9;
  filter: blur(250px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -12;
}
.set-bg-color1 {
  width: 412px;
  height: 192px;
  background: #7c3eff;
  opacity: 0.9;
  filter: blur(250px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -12;
}
/* responsive */
@media (max-width: 762px) {
  h2 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #0a142f;
    margin: 0;
    line-height: 1em;
  }
  .item2 {
    width: 100%;
  }
  .img2 {
    width: 100%;
  }
  .img3 {
    position: absolute;
    bottom: -70px;
    left: 180px;
  }
  .set-bg-color2 {
    z-index: -12;
  }
  .set-bg-color1 {
    z-index: -12;
  }
}
@media (max-width: 900px) {
  h2 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #0a142f;
    margin: 0;
    line-height: 1em;
  }
  .item2 {
    width: 100%;
  }
  .img2 {
    width: 100%;
  }
  .img3 {
    position: absolute;
    bottom: -70px;
    left: 220px;
  }
  .set-bg-color2 {
    z-index: -12;
  }
  .set-bg-color1 {
    z-index: -12;
  }
}