h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  color: #0a142f;
  margin: 0;
  line-height: 1em;
}
.bookiong-btn {
  width: 250px;
  height: 40px;
  background: #ffc93e;
  border-radius: 30px;
  font-weight: bolder;
  display: block;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-down {
  transform: rotate(-90deg);
  text-align: right;
}
/* responsive */
@media (max-width: 762px) {
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #0a142f;
    margin: 0;
    line-height: 1em;
  }
  img2 {
    width: 100%;
  }
}
